#competences
{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    background-color: orange;
}

html
{
    background-color: bisque;
}

h1,h2
{
    text-decoration: underline;
    color: red;
}

li
{
    color:black;
    font-weight: bold;
}

img
{
	width: 25px;
	float: center;
}

.barre {
    height: 20px;  /
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.barre > span {
  display: flex;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position:relative;
  overflow: hidden;
}


header
{
	text-align: center;
	background-color: bisque;
	height: 100px;
}

nav
{
    display: flex;
	flex-flow: wrap row;
	color: black;
	font-family: serif;
	font-weight: bold;
	font-style: oblique;
	justify-content:center;
	font-size: 20px;
	margin: 0 100px;
}

a
{
	text-decoration: none;
	color: black;
	transition:0.3
}

a:hover
{
	box-shadow:0px 10px 10px red;
	color: black;
}

@media screen and (min-width: 500px) and (max-width: 1080px){
    nav,h1,h2{
        font-size: 15px;
    }
}

@media screen and (min-width: 200px) and (max-width: 499px){
    nav,h1,h2,li{
        font-size: 10px;

    }
