#compétences
{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    background-color: orange;
}

html
{
    background-color: bisque;
}

h1,h2
{
    text-decoration: underline;
    color: red;
    font-style: italic;
}

li
{
    color:black;
    font-style: oblique;
    font-weight: bold;

}
